/* app css stylesheet */

.qmenu {
  list-style: none;
  border-bottom: 0.1em solid white;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.qmenu:before {
  content: "[";
}

.qmenu:after {
  content: "]";
}

.qmenu > li {
  display: inline;
}

.qmenu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.qmenu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
