
body {
    font-family: Tahoma;
    background-color: #130c05;
    background-image: url(leather.png);
}

a {
    color: #c11;
    text-decoration: none;
    font-weight: bold;
    font-style: normal;
}


h2 {
    margin-left: 6%;
    margin-bottom: 2px;
}


input {
    width: 100%;
}

table {
    border: 0px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

table.note_editor {
    width: 60%;
}

.panel {
    width: 50%;
    padding: 10px;
    vertical-align: top;
    border-width: 4px;
    border-image: url(borders.png) 6 repeat;
}

.templatediv {
    padding: 6px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    vertical-align: central;
    background-color: #e3d09d;
    background-image: url(paper.png);
}

.notification {
    color: #000;
    padding: 5px;
    background-color: rgba(255, 186, 0, 0.4);
    font-weight: bold;
}

.tags {
    font-size: 80%;
    font-style: italic;
}

.footer {
    font-size: 80%;
    font-style: italic;
}

.ui-accordion {
    font-family: Tahoma;
}

.ui-accordion-header {
    border-width: 3px;
    background-image: url(paper.png);
    border-image: url(borders.png) 6 stretch;
}

.ui-accordion-content {
    border: 1px solid #da6;
    background-image: url(paper.png);
}

.field {
    width: 100%;
}

.submit {
    width: 100%;
    height: 32px;
}

.icon {
    border: 0px;
    width: 24px;
    height: 24px;
    margin-left: 2px;
    float: right;
}

.note_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.thumbnail {
    display: block;
    float: top;
    float: right;
    margin-left: 6px;

}

.backlink {
    margin-left: 7%;
    margin-top: 2px;
    margin-bottom: 12px;
}

#validation_note {
    display: none;
    color: #c11;
    font-style: italic;
}

.selectize-input {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border: 1px solid #999;
}

.selectize-control.multi .selectize-input [data-value].active {
    background: #fc0;
    border: 1px solid #999;
    border-radius: 0px;
    color: #000;
    background-image: none;
    filter: none;
}

.selectize-control.multi .selectize-input [data-value] {
    background: #ec8;
    border: 1px solid #999;
    border-radius: 0px;
    color: #000;
    background-image: none;
    filter: none;
}

