<div ng-controller="QuotesSaveCtrl">
<form novalidate class="simple-form">
<table>
<tr><th>ID</th><td><input type="hidden" ng-model="quote.id" value="{{quote.id}}" />#{{quote.id}}</td></tr>
<tr><th>QUOTE</th><td><textarea ng-model="quote.thequote" >{{quote.thequote}}</textarea></td></tr>
<tr><th>BYWHOM</th><td><input type="text" ng-model="quote.bywhom" value="{{quote.bywhom}}" /></td></tr>
<tr><th>WHEN</th><td><input type="text" ng-model="quote.whenyear" value="{{quote.whenyear}}" /></td></tr>
</table>
<button ng-click="reset()">RESET</button>
<button ng-click="update(quote)">SAVE</button>
</form>
</div>